body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

input {
    padding: 8px;
    margin: 5px;
    width: 80%;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}